USE [master]
GO
/****** Object:  Database [HiTechBooksDB]    Script Date: 2025-12-09 7:49:57 AM ******/
CREATE DATABASE [HiTechBooksDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'User_EmployeeDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS2022\MSSQL\DATA\User_EmployeeDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'User_EmployeeDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS2022\MSSQL\DATA\User_EmployeeDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [HiTechBooksDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [HiTechBooksDB]
GO
/****** Object:  Table [dbo].[Authors]    Script Date: 2025-12-09 7:49:58 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Authors](
	[AuthorID] [int] IDENTITY(10000,1) NOT NULL,
	[FirstName] [nvarchar](100) NOT NULL,
	[LastName] [nvarchar](100) NOT NULL,
	[Email] [nvarchar](100) NOT NULL,
	[Phone] [nvarchar](20) NOT NULL,
 CONSTRAINT [PK_Authors] PRIMARY KEY CLUSTERED 
(
	[AuthorID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BookAuthors]    Script Date: 2025-12-09 7:49:58 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BookAuthors](
	[BookAuthorID] [int] IDENTITY(9000,1) NOT NULL,
	[BookID] [int] NOT NULL,
	[AuthorID] [int] NULL,
 CONSTRAINT [PK__BookAuth__21B24F39782FA5A3] PRIMARY KEY CLUSTERED 
(
	[BookAuthorID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Books]    Script Date: 2025-12-09 7:49:58 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Books](
	[BookID] [int] IDENTITY(100000,1) NOT NULL,
	[ISBN] [nvarchar](13) NOT NULL,
	[Title] [nvarchar](255) NOT NULL,
	[UnitPrice] [decimal](14, 2) NOT NULL,
	[YearPublished] [int] NOT NULL,
	[QuantityAvailable] [int] NOT NULL,
	[CategoryID] [int] NULL,
	[PublisherID] [int] NULL,
 CONSTRAINT [PK_Books] PRIMARY KEY CLUSTERED 
(
	[BookID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Categories]    Script Date: 2025-12-09 7:49:58 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categories](
	[CategoryID] [int] IDENTITY(500,5) NOT NULL,
	[CategoryName] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_Categories] PRIMARY KEY CLUSTERED 
(
	[CategoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Customers]    Script Date: 2025-12-09 7:49:58 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customers](
	[CustomerID] [int] IDENTITY(3000,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Street] [nvarchar](50) NOT NULL,
	[City] [nvarchar](50) NOT NULL,
	[PostalCode] [nvarchar](7) NOT NULL,
	[Phone] [nvarchar](50) NOT NULL,
	[Fax] [nvarchar](50) NOT NULL,
	[CreditLimit] [decimal](12, 2) NOT NULL,
 CONSTRAINT [PK_Customers] PRIMARY KEY CLUSTERED 
(
	[CustomerID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Employees]    Script Date: 2025-12-09 7:49:58 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Employees](
	[EmployeeID] [int] IDENTITY(2500,1) NOT NULL,
	[FirstName] [varchar](50) NOT NULL,
	[LastName] [varchar](50) NOT NULL,
	[Email] [varchar](50) NOT NULL,
	[PhoneNumber] [varchar](50) NOT NULL,
	[HireDate] [date] NOT NULL,
	[JobTitle] [varchar](240) NOT NULL,
	[RoleID] [int] NULL,
	[Status] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Employees] PRIMARY KEY CLUSTERED 
(
	[EmployeeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrderDetails]    Script Date: 2025-12-09 7:49:58 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderDetails](
	[OrderDetailsID] [int] IDENTITY(1,1) NOT NULL,
	[OrderID] [int] NOT NULL,
	[BookID] [int] NOT NULL,
	[Quantity] [int] NOT NULL,
	[UnitPrice] [decimal](18, 2) NOT NULL,
 CONSTRAINT [PK_OrderDetails] PRIMARY KEY CLUSTERED 
(
	[OrderDetailsID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Orders]    Script Date: 2025-12-09 7:49:58 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Orders](
	[OrderID] [int] IDENTITY(1,1) NOT NULL,
	[OrderDate] [date] NOT NULL,
	[UserID] [int] NOT NULL,
	[CustomerID] [int] NOT NULL,
	[TotalAmount] [decimal](18, 2) NOT NULL,
 CONSTRAINT [PK_Orders] PRIMARY KEY CLUSTERED 
(
	[OrderID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Publishers]    Script Date: 2025-12-09 7:49:58 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Publishers](
	[PublisherID] [int] IDENTITY(5000,1) NOT NULL,
	[PublisherName] [nvarchar](150) NOT NULL,
	[Phone] [nvarchar](50) NOT NULL,
	[Email] [nvarchar](50) NOT NULL,
	[Address] [nvarchar](255) NOT NULL,
	[City] [nvarchar](100) NOT NULL,
	[State] [nvarchar](3) NOT NULL,
	[PostalCode] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Publishers] PRIMARY KEY CLUSTERED 
(
	[PublisherID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Roles]    Script Date: 2025-12-09 7:49:58 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[RoleID] [int] IDENTITY(100,10) NOT NULL,
	[RoleName] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Roles] PRIMARY KEY CLUSTERED 
(
	[RoleID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 2025-12-09 7:49:58 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserID] [int] IDENTITY(2600,1) NOT NULL,
	[Username] [varchar](50) NOT NULL,
	[Password] [varchar](255) NOT NULL,
	[EmployeeID] [int] NOT NULL,
	[RoleID] [int] NOT NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Authors] ON 

INSERT [dbo].[Authors] ([AuthorID], [FirstName], [LastName], [Email], [Phone]) VALUES (10001, N'J.K.', N'Rowling', N'jkrowling@example.com', N'555-123-4567')
INSERT [dbo].[Authors] ([AuthorID], [FirstName], [LastName], [Email], [Phone]) VALUES (10002, N'George', N'Orwelll', N'george.orwell@example.com', N'(555) 234-5678')
INSERT [dbo].[Authors] ([AuthorID], [FirstName], [LastName], [Email], [Phone]) VALUES (10004, N'Mark', N'Twain', N'mark.twain@example.com', N'555-456-7890')
SET IDENTITY_INSERT [dbo].[Authors] OFF
GO
SET IDENTITY_INSERT [dbo].[BookAuthors] ON 

INSERT [dbo].[BookAuthors] ([BookAuthorID], [BookID], [AuthorID]) VALUES (9029, 100000, 10002)
INSERT [dbo].[BookAuthors] ([BookAuthorID], [BookID], [AuthorID]) VALUES (9024, 100001, 10002)
INSERT [dbo].[BookAuthors] ([BookAuthorID], [BookID], [AuthorID]) VALUES (9025, 100001, 10004)
SET IDENTITY_INSERT [dbo].[BookAuthors] OFF
GO
SET IDENTITY_INSERT [dbo].[Books] ON 

INSERT [dbo].[Books] ([BookID], [ISBN], [Title], [UnitPrice], [YearPublished], [QuantityAvailable], [CategoryID], [PublisherID]) VALUES (100000, N'9780123456011', N'C# Programming Basics', CAST(49.99 AS Decimal(14, 2)), 2022, 50, 515, NULL)
INSERT [dbo].[Books] ([BookID], [ISBN], [Title], [UnitPrice], [YearPublished], [QuantityAvailable], [CategoryID], [PublisherID]) VALUES (100001, N'9780123456028', N'Advanced C# Techniques', CAST(59.99 AS Decimal(14, 2)), 2023, 30, 515, 5001)
INSERT [dbo].[Books] ([BookID], [ISBN], [Title], [UnitPrice], [YearPublished], [QuantityAvailable], [CategoryID], [PublisherID]) VALUES (100002, N'9780123456035', N'Introduction to Databases', CAST(39.99 AS Decimal(14, 2)), 2021, 40, 550, 5002)
SET IDENTITY_INSERT [dbo].[Books] OFF
GO
SET IDENTITY_INSERT [dbo].[Categories] ON 

INSERT [dbo].[Categories] ([CategoryID], [CategoryName]) VALUES (505, N'Clothing')
INSERT [dbo].[Categories] ([CategoryID], [CategoryName]) VALUES (510, N'Books')
INSERT [dbo].[Categories] ([CategoryID], [CategoryName]) VALUES (515, N'Home & Kitchen')
SET IDENTITY_INSERT [dbo].[Categories] OFF
GO
SET IDENTITY_INSERT [dbo].[Customers] ON 

INSERT [dbo].[Customers] ([CustomerID], [Name], [Street], [City], [PostalCode], [Phone], [Fax], [CreditLimit]) VALUES (3000, N'McGill University', N'845 Sherbrooke St WE', N'Montreal', N'H3A 0G4', N'(514) 398-4455', N'(514) 398-4680', CAST(50900.00 AS Decimal(12, 2)))
INSERT [dbo].[Customers] ([CustomerID], [Name], [Street], [City], [PostalCode], [Phone], [Fax], [CreditLimit]) VALUES (3001, N'Université de Montréal', N'2900 Boulevard Édouard-Montpetit', N'Montreal', N'H3T 1J4', N'(514) 343-6111', N'(514) 343-5788', CAST(45000.00 AS Decimal(12, 2)))
INSERT [dbo].[Customers] ([CustomerID], [Name], [Street], [City], [PostalCode], [Phone], [Fax], [CreditLimit]) VALUES (3002, N'Concordia University', N'1455 De Maisonneuve Blvd W', N'Montreal', N'H3G 1M8', N'(514) 848-2424', N'(514) 848-2812', CAST(40000.00 AS Decimal(12, 2)))
SET IDENTITY_INSERT [dbo].[Customers] OFF
GO
SET IDENTITY_INSERT [dbo].[Employees] ON 

INSERT [dbo].[Employees] ([EmployeeID], [FirstName], [LastName], [Email], [PhoneNumber], [HireDate], [JobTitle], [RoleID], [Status]) VALUES (2500, N'Henry', N'Brown', N'henry.brown@hitech.com', N'514-721-1001', CAST(N'2025-10-08' AS Date), N'MIS Manager', 100, N'Active')
INSERT [dbo].[Employees] ([EmployeeID], [FirstName], [LastName], [Email], [PhoneNumber], [HireDate], [JobTitle], [RoleID], [Status]) VALUES (2515, N'Thomas', N'Smith', N'thomasmoore@hitech.com', N'(579) 122-1234', CAST(N'2024-11-11' AS Date), N'Sales Manager', 110, N'Active')
INSERT [dbo].[Employees] ([EmployeeID], [FirstName], [LastName], [Email], [PhoneNumber], [HireDate], [JobTitle], [RoleID], [Status]) VALUES (2518, N'Peter', N'Wang', N'pwang@gmail.com', N'(123) 123-1234', CAST(N'2001-02-02' AS Date), N'Inventory Controller', 120, N'Active')
SET IDENTITY_INSERT [dbo].[Employees] OFF
GO
SET IDENTITY_INSERT [dbo].[OrderDetails] ON 

INSERT [dbo].[OrderDetails] ([OrderDetailsID], [OrderID], [BookID], [Quantity], [UnitPrice]) VALUES (7, 10, 100001, 1, CAST(42.00 AS Decimal(18, 2)))
INSERT [dbo].[OrderDetails] ([OrderDetailsID], [OrderID], [BookID], [Quantity], [UnitPrice]) VALUES (10, 13, 100008, 1, CAST(33.00 AS Decimal(18, 2)))
INSERT [dbo].[OrderDetails] ([OrderDetailsID], [OrderID], [BookID], [Quantity], [UnitPrice]) VALUES (24, 9, 100000, 2, CAST(20.00 AS Decimal(18, 2)))
SET IDENTITY_INSERT [dbo].[OrderDetails] OFF
GO
SET IDENTITY_INSERT [dbo].[Orders] ON 

INSERT [dbo].[Orders] ([OrderID], [OrderDate], [UserID], [CustomerID], [TotalAmount]) VALUES (9, CAST(N'2025-01-13' AS Date), 2615, 3000, CAST(92.00 AS Decimal(18, 2)))
INSERT [dbo].[Orders] ([OrderID], [OrderDate], [UserID], [CustomerID], [TotalAmount]) VALUES (10, CAST(N'2025-02-03' AS Date), 2615, 3007, CAST(42.00 AS Decimal(18, 2)))
INSERT [dbo].[Orders] ([OrderID], [OrderDate], [UserID], [CustomerID], [TotalAmount]) VALUES (11, CAST(N'2025-02-10' AS Date), 2614, 3005, CAST(210.00 AS Decimal(18, 2)))
SET IDENTITY_INSERT [dbo].[Orders] OFF
GO
SET IDENTITY_INSERT [dbo].[Publishers] ON 

INSERT [dbo].[Publishers] ([PublisherID], [PublisherName], [Phone], [Email], [Address], [City], [State], [PostalCode]) VALUES (5001, N'HarperCollins Canada', N'416-555-2020', N'info@harpercollins.ca', N'145 King Street West', N'Toronto', N'ON', N'M5H 1J8')
INSERT [dbo].[Publishers] ([PublisherID], [PublisherName], [Phone], [Email], [Address], [City], [State], [PostalCode]) VALUES (5002, N'Simon & Schuster Canada', N'416-555-3030', N'support@simonandschuster.ca', N'123 Queen Street West', N'Toronto', N'ON', N'M5H 2M9')
INSERT [dbo].[Publishers] ([PublisherID], [PublisherName], [Phone], [Email], [Address], [City], [State], [PostalCode]) VALUES (5003, N'Hachette Book Group Canada', N'416-555-4040', N'help@hachette.ca', N'200 Wellington Street West', N'Toronto', N'ON', N'M5V 3C7')
SET IDENTITY_INSERT [dbo].[Publishers] OFF
GO
SET IDENTITY_INSERT [dbo].[Roles] ON 

INSERT [dbo].[Roles] ([RoleID], [RoleName]) VALUES (120, N'Inventory Controller')
INSERT [dbo].[Roles] ([RoleID], [RoleName]) VALUES (100, N'MIS Manager')
INSERT [dbo].[Roles] ([RoleID], [RoleName]) VALUES (130, N'Order Clerk')
SET IDENTITY_INSERT [dbo].[Roles] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([UserID], [Username], [Password], [EmployeeID], [RoleID], [IsActive]) VALUES (2614, N'hbrown', N'hbrown1234', 2500, 100, 1)
INSERT [dbo].[Users] ([UserID], [Username], [Password], [EmployeeID], [RoleID], [IsActive]) VALUES (2615, N'tmoore', N'tmoore1234', 2515, 110, 1)
INSERT [dbo].[Users] ([UserID], [Username], [Password], [EmployeeID], [RoleID], [IsActive]) VALUES (2616, N'pwang', N'pwang1234', 2518, 120, 1)
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
/****** Object:  Index [UQ_BookAuthors]    Script Date: 2025-12-09 7:49:58 AM ******/
ALTER TABLE [dbo].[BookAuthors] ADD  CONSTRAINT [UQ_BookAuthors] UNIQUE NONCLUSTERED 
(
	[BookID] ASC,
	[AuthorID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UK_BookISBN]    Script Date: 2025-12-09 7:49:58 AM ******/
ALTER TABLE [dbo].[Books] ADD  CONSTRAINT [UK_BookISBN] UNIQUE NONCLUSTERED 
(
	[BookID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UK_Email]    Script Date: 2025-12-09 7:49:58 AM ******/
ALTER TABLE [dbo].[Employees] ADD  CONSTRAINT [UK_Email] UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UK_RoleName]    Script Date: 2025-12-09 7:49:58 AM ******/
ALTER TABLE [dbo].[Roles] ADD  CONSTRAINT [UK_RoleName] UNIQUE NONCLUSTERED 
(
	[RoleName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UK_Username]    Script Date: 2025-12-09 7:49:58 AM ******/
ALTER TABLE [dbo].[Users] ADD  CONSTRAINT [UK_Username] UNIQUE NONCLUSTERED 
(
	[Username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ_Users_EmployeeID]    Script Date: 2025-12-09 7:49:58 AM ******/
ALTER TABLE [dbo].[Users] ADD  CONSTRAINT [UQ_Users_EmployeeID] UNIQUE NONCLUSTERED 
(
	[EmployeeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Customers] ADD  CONSTRAINT [DF_Customers_CreditLimit]  DEFAULT ((0)) FOR [CreditLimit]
GO
ALTER TABLE [dbo].[Employees] ADD  CONSTRAINT [DF_Employees_HireDate]  DEFAULT (getdate()) FOR [HireDate]
GO
ALTER TABLE [dbo].[Employees] ADD  CONSTRAINT [DF_Employees_Status]  DEFAULT ('Active') FOR [Status]
GO
ALTER TABLE [dbo].[Users] ADD  CONSTRAINT [DF_Users_IsActive]  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[BookAuthors]  WITH CHECK ADD  CONSTRAINT [FK_BookAuthors_Authors] FOREIGN KEY([AuthorID])
REFERENCES [dbo].[Authors] ([AuthorID])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[BookAuthors] CHECK CONSTRAINT [FK_BookAuthors_Authors]
GO
ALTER TABLE [dbo].[BookAuthors]  WITH CHECK ADD  CONSTRAINT [FK_BookAuthors_Books] FOREIGN KEY([BookID])
REFERENCES [dbo].[Books] ([BookID])
GO
ALTER TABLE [dbo].[BookAuthors] CHECK CONSTRAINT [FK_BookAuthors_Books]
GO
ALTER TABLE [dbo].[Books]  WITH CHECK ADD  CONSTRAINT [FK_Books_Categories] FOREIGN KEY([CategoryID])
REFERENCES [dbo].[Categories] ([CategoryID])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[Books] CHECK CONSTRAINT [FK_Books_Categories]
GO
ALTER TABLE [dbo].[Books]  WITH CHECK ADD  CONSTRAINT [FK_Books_Publishers] FOREIGN KEY([PublisherID])
REFERENCES [dbo].[Publishers] ([PublisherID])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[Books] CHECK CONSTRAINT [FK_Books_Publishers]
GO
ALTER TABLE [dbo].[Employees]  WITH CHECK ADD  CONSTRAINT [FK_RoleID] FOREIGN KEY([RoleID])
REFERENCES [dbo].[Roles] ([RoleID])
GO
ALTER TABLE [dbo].[Employees] CHECK CONSTRAINT [FK_RoleID]
GO
ALTER TABLE [dbo].[OrderDetails]  WITH CHECK ADD  CONSTRAINT [FK_OrderDetails_BookID] FOREIGN KEY([BookID])
REFERENCES [dbo].[Books] ([BookID])
GO
ALTER TABLE [dbo].[OrderDetails] CHECK CONSTRAINT [FK_OrderDetails_BookID]
GO
ALTER TABLE [dbo].[OrderDetails]  WITH CHECK ADD  CONSTRAINT [FK_OrderDetails_OrderID] FOREIGN KEY([OrderID])
REFERENCES [dbo].[Orders] ([OrderID])
GO
ALTER TABLE [dbo].[OrderDetails] CHECK CONSTRAINT [FK_OrderDetails_OrderID]
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD  CONSTRAINT [FK_Orders_CustomerID] FOREIGN KEY([CustomerID])
REFERENCES [dbo].[Customers] ([CustomerID])
GO
ALTER TABLE [dbo].[Orders] CHECK CONSTRAINT [FK_Orders_CustomerID]
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD  CONSTRAINT [FK_Orders_UserID] FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[Orders] CHECK CONSTRAINT [FK_Orders_UserID]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [FK_EmployeeID] FOREIGN KEY([EmployeeID])
REFERENCES [dbo].[Employees] ([EmployeeID])
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [FK_EmployeeID]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [FK_RoleID_Users] FOREIGN KEY([RoleID])
REFERENCES [dbo].[Roles] ([RoleID])
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [FK_RoleID_Users]
GO
ALTER TABLE [dbo].[Customers]  WITH CHECK ADD  CONSTRAINT [CK_CreditLimit] CHECK  (([CreditLimit]>=(0)))
GO
ALTER TABLE [dbo].[Customers] CHECK CONSTRAINT [CK_CreditLimit]
GO
ALTER TABLE [dbo].[Employees]  WITH CHECK ADD  CONSTRAINT [CK_EmployeesStatus] CHECK  (([Status]='Inactive' OR [Status]='Active'))
GO
ALTER TABLE [dbo].[Employees] CHECK CONSTRAINT [CK_EmployeesStatus]
GO
USE [master]
GO
